<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid my-5">

    <footer class="text-center text-white" style="background-color: #f1f1f1;">
    
    <!-- Grid container -->
  
    <!-- Copyright -->
  <div class="text-center text-dark p-3">
      𝒟𝓇𝑒𝓈𝓈 <span>𝒫𝓇𝑜</span> :
      <a class="text-dark" href="https://mdbootstrap.com/">sameerejaz970@gmail.com</a>
    </div>
    <!-- Copyright -->
  </footer>
    
  </div>
  <!-- End of .container -->
