   <!-- Hero section -->
   <!-- Main Section -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   <div class="hero-section">
     <div class="hero-overlay">
     <div class="wrapper">
       
         <div class="one" > 
           <p class="tag-line">Premium quality</p>
           <h1 class="title">The best men’s  Dressing money can buy</h1> 
           <p class="page-description">Centuries before the advent of smartphones, watches served a highly practical purpose as efficient, mechanical time-telling tools. Since then, they have evolved to be about far more than just function.</p>
           <button class="cta">Shop now</button>
           <img class="img-small-one" src="https://images.unsplash.com/photo-1620625515032-6ed0c1790c75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80" alt="">
         </div>
       
         <div class="img-large two"></div>
         
         <div class="next-section three">
           <p>Wrist watch</p>
           <div class="next-watch">
             <p>TAG Heuer</p>
             <i class="material-icons md-18 green">arrow_forward</i>
           </div>
           <img class="img-small-two" src="https://images.unsplash.com/photo-1589959320097-04f13ffc34a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80" alt="">
         </div> 
         
       </div>
       </div>
   </div>
   <div class="new-section"></div>
   <!-- Hero section -->

<!-- cards -->
<div class="cards-list">
  
  <div class="card 3 mt-5">
    <div class="card_image">
      <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
    </div>
    <div class="card_title">
      <p>Card Title</p>
    </div>
  </div>
  
    <div class="card 1 mt-5">
      <div class="card_image"> <img src="../../../../assets/alexandru-zdrobau-juESZxMhtXk-unsplash.jpg" /> </div>
      <div class="card_title title-white">
        <p>Fashion</p>
      </div>
    </div>
    
      <div class="card 2 mt-5">
      <div class="card_image">
        <img src="../../../../assets/mohamadreza-khashay-ziubUDopHmc-unsplash (1).jpg" />
        </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>
    
    
      
      <div class="card 4 mt-5">
      <div class="card_image">
        <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
        </div>
      <div class="card_title title-black">
        <p>Card Title</p>
      </div>
      </div>
    
    </div>
    
	<a href="https://front.codes/" class="logo" target="_blank">
		<img src="https://assets.codepen.io/1462889/fcb.png" alt="">
	</a>	
	<h1 class="display-4">𝐻𝒪𝒪𝒟𝐼𝐸𝒮</h1>

	<div class="section over-hide">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section text-center py-5 py-md-0">
			          	<input class="pricing" type="checkbox" id="pricing" name="pricing"/>
			          	<label for="pricing"><span class="block-diff">Hoodie------------<span class="float-right ">Details</span></span></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="pricing-wrap">
										<h4 class="mb-5">Hoodies</h4>
										<h2 class="mb-2"><sup>$</sup>30 / 4<sup>hrs</sup></h2>
										<p class="mb-4">per person</p>
										<p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
										<p class="mb-4">Pakistan, Lahore</p>
                                        
										<a routerLink="" class="link">Order</a>
										<div class="img-wrap img-2">
											<img src="https://assets.codepen.io/1462889/sea.png" alt="">
										</div>
										<div class="img-wrap img-1">
											<img src="../../../../assets/sonny-mauricio-yFwEQMYRF_0-unsplash-min.jpg" alt="">
										</div>
										<div class="img-wrap img-3">
											<img src="https://assets.codepen.io/1462889/water.png" alt="">
										</div>
										<div class="img-wrap img-6">
											<img src="https://assets.codepen.io/1462889/Stone.png" alt="">
										</div>
			      					</div>
			      				</div>
								<div class="card-back">
									<div class="pricing-wrap">
										<h4 class="mb-5">Hoodies</h4>
										<!-- <h2 class="mb-2"><sup>$</sup>29 / 8<sup>hrs</sup></h2> -->
										<p class="mb-4">Blach Hoodie with printed</p>
										<p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
										<p class="mb-4">Pakistan, Lahore</p>
										
										<div class="img-wrap img-2">
											<img src="https://assets.codepen.io/1462889/grass.png" alt="">
										</div>
										<div class="img-wrap img-4">
											<img src="../../../../assets/sonny-mauricio-yFwEQMYRF_0-unsplash-min.jpg" alt="">
										</div>
										<div class="img-wrap img-5">
											<img src="https://assets.codepen.io/1462889/Ivy.png" alt="">
										</div>
										<div class="img-wrap img-7">
											<img src="https://assets.codepen.io/1462889/IvyRock.png" alt="">
										</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
	<h1 class="display-3 ">𝘴𝘩𝘰𝘦𝘴</h1>
	<!-- cards for -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6"><div class="card">
				<div class="imgBx">
				  <img src="https://assets.codepen.io/4164355/shoes.png">
				</div>
				<div class="contentBx">
				  <h2>Nike Shoes</h2>
			
				  <div class="color">
					<h3>Color : Green</h3>
					<h3>$:300</h3>
					<span></span>
					<span></span>
					<span></span>
				  </div>
				  <a routerLink="">Buy Now</a>
				</div>
			  </div></div>
			<div class="col-md-6"><div class="card">
				<div class="imgBx">
				  <img src="../../../../assets/revolt-164_6wVEHfI-unsplash-min.jpg">
				</div>
				<div class="contentBx">
				  <h2>Nike Shoes</h2>
				
				  <div class="color">
					<h3>Color : Red and white</h3>
					<h3>$:200</h3>

					<span></span>
					<span></span>
					<span></span>
				  </div>
				  <a routerLink="">Buy Now</a>
				</div>
			  </div></div>
		</div>
	  </div>
	  <!-- cardssss -->
	<h1 class="display-3 ">𝒸𝑜𝒶𝓉</h1>

	  <div class="container">
		<div class="row">
			<div class="col-md-4 mt-5 new"><div class="card" style="width: 18rem;">
				<img src="../../../../assets/bundo-kim-ClvwtweQGB8-unsplash.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Tuxedo</h5>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  <a routerLink="" class="btn btn-primary">Order</a>
				</div>
			  </div></div>
			<div class="col-md-4 mt-5 new"><div class="card" style="width: 18rem;">
				<img src="../../../../assets/hermes-rivera-YxbwyTb5ijs-unsplash.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Slim fit</h5>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  <a routerLink=""class="btn btn-primary">Order</a>
				</div>
			  </div></div>
			  <div class="col-md-4 mt-5 new"><div class="card" style="width: 18rem;">
				<img src="../../../../assets/jeremy-beadle-qnU-UR0o5X8-unsplash.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">TERNO slim</h5>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  <a routerLink=""class="btn btn-primary">Order</a>
				</div>
			  </div></div>
             
		</div>
	  </div>
	  

  








   


