   <!-- Hero section -->
   <!-- Main Section -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   <div class="hero-section">
     <div class="hero-overlay">
     <div class="wrapper">
       
         <div class="one" > 
           <p class="tag-line">Premium quality</p>
           <h1 class="title">The best men’s Dressing money can buy</h1> 
           <p class="page-description">Centuries before the advent of smartphones, watches served a highly practical purpose as efficient, mechanical time-telling tools. Since then, they have evolved to be about far more than just function.</p>
           <button class="cta">Shop now</button>
           <img class="img-small-one" src="../../../../assets/mnz-RsJDUzKdBws-unsplash.jpg" alt="">
         </div>
       
         <div class="img-large two"></div>
         
         <div class="next-section three">
           <p>Wrist watch</p>
           <div class="next-watch">
             <p>TAG Heuer</p>
             <i class="material-icons md-18 green">arrow_forward</i>
           </div>
           <img class="img-small-two" src="https://images.unsplash.com/photo-1589959320097-04f13ffc34a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80" alt="">
         </div> 
         
       </div>
       </div>
   </div>
   <div class="new-section"></div>
   <!-- Hero section -->


<header>
  
    <div class="header_logo">
        <img src="img/Logo.png" alt="">
    </div>
   
</header>

<div class="container">
  
<div id="product">
  <div class="product_images"></div>
  <div class="product_details">
    

      <h2>The Atelier Tailored Coat</h2>
      <h3>$499.00</h3>

      <div class="about">
          <p>Availability :<span>In stock</span></p>
          <p>Product Code : <span>#4657</span></p>   
          <p>Tags : <span>Fashion, Hood, Classic</span> </p>
      </div>

      <p>Sleek, polished, and boasting an impeccably modern fit, this blue, 2-but-
          ton Lazio suit features a notch lapel, flap pockets, and accompanying flat
          front trousers—all in pure wool by Vitale Barberis Canonico.</p>
      <ul>
          <li>Dark blue suit for a tone-on-tone look</li>
          <li>Regular fit</li>
          <li>100% Cotton</li>
          <li>Free shipping with 4 days delivery</li>
      </ul>

      <a href="">Clear Selection</a>
      
      <div class="cta">
          <div class="btn btn_primary">add to cart</div>
          <div class="btn btn_outline_secondary">
              <span class="material-symbols-outlined">favorite</span>add to wishlist</div>
      </div>
  </div>
</div>
</div>
<!-- cards -->
<div class="cards-list">
  
  <div class="card 3 mt-5">
    <div class="card_image">
      <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
    </div>
    <div class="card_title">
      <p>Card Title</p>
    </div>
  </div>
  
    <div class="card 1 mt-5">
      <div class="card_image"> <img src="../../../../assets/alexandru-zdrobau-juESZxMhtXk-unsplash.jpg" /> </div>
      <div class="card_title title-white">
        <p>Fashion</p>
      </div>
    </div>
    
      <div class="card 2 mt-5">
      <div class="card_image">
        <img src="../../../../assets/mohamadreza-khashay-ziubUDopHmc-unsplash (1).jpg" />
        </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>
    
    
      
      <div class="card 4 mt-5">
      <div class="card_image">
        <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
        </div>
      <div class="card_title title-black">
        <p>Card Title</p>
      </div>
      </div>
    
    </div>








   


